@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #505050;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 0.25px rgb(0, 0, 0);
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
  .text-shadow-header {
    text-shadow: 5px 5px 3px black;
  }
  .text-shadow {
    text-shadow: 2px 2px 1px black;
  }
}